<h1>Courses</h1>
<p>Spring Boot Security</p>
<style>
        body {
            background-color: #3e3e3e;
            color: white;
        }
        .button {
            background-color: #f44336;
            border: none;
            color: #555555;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button1 {
            padding: 14px 40px;
            border-radius: 12px;
            width: 250px;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }

</style>
<div class="container">
    <form class="form-signin" method="get" action="/logout">
        <button class="button button1" type="submit">Logout</button>
    </form>
</div>
